<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        height: 200px;
        width: 200px;
      }
    </style>
  </head>
  <body>
    <h2>This page belongs to @<%=data.name%></h2>
    <div>
      <h3>Followers : <%= data.followers%></h3>
      <h3>Following : <%= data.following%></h3>
    </div>
    <hr />
    <div>
      <% for(const post of data.posts ) { %>
      <img src="<%=post.image%>" />
      <h3>likes : <%= post.likes%></h3>
      <h3>comments : <%= post.comments%></h3>
      <% } %>
    </div>
  </body>
</html>
